body{
	text-align: center;
	background-color: #232323;
}

.header{
color: #6fa3c0;
font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
font-size: 3em;
padding: 10px;
}

.header.highlight{
	color: #a8ff37;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.entranceFade {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	animation-duration:2s;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.entranceFade.first {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.entranceFade.second {
-webkit-animation-delay: 1s;
-moz-animation-delay:1s;
animation-delay: 1s;
}

.entranceFade.third {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;
}

.border{
border:10px solid #f361ea;
}
